<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Three Houses TTRPG Character Sheet</title>

	<link href="./style.css" rel="stylesheet" />
	<script type="text/javascript" src="./src/js/macro_builder.js"> </script>
	<script type="text/javascript" src="./src/js/postfix.js"></script>
	<script type="text/javascript" src="./src/js/category.js"></script>
	<script type="text/javascript" src="./src/js/feature.js"></script>
	<script type="text/javascript" src="./src/js/sheet.js"> </script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.1.0/ajv7.bundle.js" integrity="sha512-PuzkO+wOBh6m/Jux4nXgl2ItRzed77lFDidDX500DUNlvuzr4OrXtsFhN4q0CCxPoXjTFfiw1z4FmED9J/MMdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
</head>
<body>

	<div class="container">
		<div class="span-1"> <!-- SKILL SECTION -->
			<table>
				<tbody>
					{% for skill in definitions["skills"] %}
					<tr id="skill-{{ skill }}-row">
						<th>
							{{ skill }}
						</th>
						<td>
							<label for="skill-{{ skill }}" id="skill-{{ skill }}-grade" class="datum">E&nbsp;</label>
						</td>
						<td>
							<input
								id="skill-{{ skill }}"
								oninput="sheet.refreshGrade('{{ skill }}')"
								class="hidden-field simple-border"
								type="number"
								name="skill-{{ skill }}"
								min="0"
								max="100"
								step="1"
								value="0"/>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="span-2"> <!-- STATISTICS AND GROWTHS -->
			<table>
				<!-- <caption>Statistsics and Growths</caption> -->
				<tbody>
					<tr>
						<th>
							Level
						</th>
						<td>
							<label id="level" for="level-input" class="datum">
								1
							</label>
							<input
								id="level-input"
								oninput="sheet.refreshLevel()"
								type="number"
								class="hidden-field simple-border"
								name="level-input"
								min="0"
								value="0"/>
						</td>
						<td>
							<input
								type="button"
								class="simple-border"
								value="Up"
								onclick="sheet.levelUp()">
						</td>
					</tr>

					{% for statistic in definitions["stats"]["names"] %}
					<tr>
						<th>
							{{ statistic.upper() }}
						</th>
						<td>
							<label
								id="{{ statistic }}-total"
								for="{{ statistic }}-base"
								class="datum">
								0		
							</label>
							<input
								id="{{ statistic }}-base"
								oninput="sheet.refreshStat('{{ statistic }}')"
								type="number"
								name="{{ statistic }}-base"
								class="hidden-field simple-border"
								min="0"
								max="100"
								value="0"/>
						</td>
						<td>
							{% if statistic != "mov" %}
							(<label
								id="{{ statistic }}-growth-total"
								for="{{ statistic }}-growth-base"
								class="datum">
								0%
							</label><input
								id="{{ statistic }}-growth-base"
								oninput="sheet.refreshGrowth('{{ statistic }}')"
								type="number"
								class="hidden-field simple-border"
								name="{{ statistic }}-growth-base"
								min="-4"
								max="100"
								step="1"
								value="0"/>)
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr />
			<table>
				<tbody>
					<tr>
						<th>Physical</th>
						<td>
							+<span id="pmt-total" class="computed">0</span>
						</td>
						<td>
							-<span id="pdr-total" class="computed">0</span>
						</td>
					</tr>
					<tr>
						<th>Magical</th>
						<td>
							+<span id="mmt-total" class="computed">0</span>
						</td>
						<td>
							-<span id="mdr-total" class="computed">0</span>
						</td>
					</tr>
					<tr>
						<th>Hit/Avoid</th>
						<td>
							+<span id="hit-total" class="computed">0</span>
						</td>
						<td>
							-<span id="avo-total" class="computed">0</span>
						</td>
					</tr>
					<tr>
						<th>Range</th>
						<td>
							≤<span id="maxrng-total" class="computed">0</span>
						</td>
						<td>
							≥<span id="minrng-total" class="computed">0</span>
						</td>
					</tr>
					<tr>
						<th>Critical</th>
						<td>
							<span id="crit-total" class="computed">0</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div> 
		<div class="span-3"> <!-- BACKGROUND AND PERSONALITY -->
			<div>

				<label for="hitpoints">Health</label>

				<input
					type="button"
					class="simple-border"
					value="Fill"
					onclick="sheet.fillHealthBar()"> <br />

				<label for="hitpoints-input">
					<meter id="hitpoints" min="0" max="100" low="33" high="66" value="50">
						Current Hitpoints
					</meter>
				</label>

				<input
					id="hitpoints-input"
					oninput="sheet.refreshHealthBar()"
					class="hidden-field simple-border"
					type="number"
					name="level-input"
					min="0"
					value="0"/>

				<br />

				<label for="character-name">Name</label> <br />
				<input
					id="character-name"
					class="simple-border"
					type="text"
					name="character-name">
				<br />
				<label for="character-triangle">Triangle Effect</label> <br />
				<select id="character-triangle" class="simple-border" oninput="sheet.refreshSecondaryStats()">
					<option value="15">
						Advantage
					</option>
					<option value="0" selected="">
						Normal
					</option>
					<option value="-15">
						Disadvantage
					</option>
				</select>
			</div>
				<label for="character-class">Class</label> <br />
				<select id="character-class" class="simple-border" name="character-class" oninput="sheet.refreshClass()">
					{% for klass in definitions["classes"] %}
						{% if "hidden" not in klass or not klass["hidden"] %}
							<option value="{{ klass['name'] }}">{{ klass["name"] }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<input id="character-mounted" class="simple-border" onclick="sheet.refreshMounted()" type="checkbox" /> Mounted? <br />
				<label for="character-homeland">Homeland</label> <br />
				<select id="character-homeland" class="simple-border">
					<option value="adrestia">The Adrestian Republic</option>
					<option value="almyra">Almyra</option>
					<option value="brigid">Brigid Archipelago</option>
					<option value="duscurr">Mountains of Duscur</option>
					<option value="fearghus">The Kingdom of Fearghus</option>
					<option value="leicester">The Leicester Alliance</option>
					<option value="other">Other</option>
				</select> <br />
				<label for="character-description">Description</label> <br />
				<textarea
					id="character-description"
					name="character-description"
					class="simple-border"
					>Write your character description here.</textarea>
				<br />

				<details>
					<summary>Experimental Features</summary>
					These features are experimental and may have bugs.
					<br />
					<input
						type="button"
						class="simple-border"
						value="Create Blurb"
						onclick="sheet.blurb()" />
					<input
						type="button"
						class="simple-border"
						value="Create Macro"
						onclick="sheet.macro()" />

					<br />
					<textarea id="generator-output" class="simple-border">
						
					</textarea>
				</details>
			</div>
			<div class="span-4"> <!-- LIST OF CHARACTERS -->

				<label for="import-sheet" class="custom-file-input simple-border">
					Import
				</label>
				<input id="import-sheet" type="file" accept=".json" class="no-display" />

				<label for="export-sheet" class="custom-file-input simple-border">
					Export
				</label>
				<input id="export-sheet" type="button" onclick="sheet.export()" class="no-display" />

				<br />

				<input type="button" class="simple-border" value="New Character" onclick="sheet.fresh()" />
				
				<input type="button" class="simple-border" value="Clear Character" onclick="sheet.clear()" />
				
				<br />

				<div id="character-list">
					
				</div>
				
			</div>
		</div>
		
		<div class="span-1-3"> <!-- ABILITIES -->
			<details>
				<summary class="entry-tab-title">
					Abilities
				</summary>
				<div class="entry-tab-body">
					<details id="abilities-class">
						<summary>Class</summary>
					</details>

					<details id="abilities-equipped">
						<summary>Equipped</summary>
					</details>
					
					<details id="abilities-battlefield">
						<summary>Battlefield</summary>
					</details>

					<details id="abilities-known">
						<summary>Known</summary>
					</details>
				</div>
			</details>

			<details>
				<summary class="entry-tab-title">
					Combat Arts
				</summary>
				<div class="entry-tab-body">
					<details id="combatarts-equipped">
						<summary>Equipped</summary>
					</details>

					<details id="combatarts-known">
						<summary>Known</summary>
					</details>
				</div>
			</details>

			<details id="weapons-known">
				<summary class="entry-tab-title">
					Weapons & Spells
				</summary>
			</details>

			<details id="equipment-known">
				<summary class="entry-tab-title">
					Equipment
				</summary>
			</details>
		</div>
	</div>

	<script type="text/javascript">
		const definitions = {{ definition_literal }};
		const sheet       = new Sheet(definitions);

		// Show a "Leave site?" dialog */
		window.onbeforeunload = () => true;
		// hide this without removing it
		document.getElementById("skill-Brawl-row").hidden = true;
	</script>
</body>
</html>