.base {
	color: white;
	background: black;
}

.simple-border {
	color: white;
	outline: none;
	background: black;
	border-radius: 3px;
	border-width: 2px;
	border-color: white;
	border-style: ridge;
	margin: 3px;
}

.selected-text {
	color: cyan;
	text-decoration: underline;
}

.datum {
	font-weight: bold;
	color: cyan;
	padding: 0px;
	margin: 0px;
}

.computed {
	font-weight: bold;
	color: orange;
	padding: 0px;
	margin: 0px;
}

meter::-webkit-meter-bar {
	background: black;
}

.tts {
	border-bottom: 1px dotted;
	margin-left: 3px;
	margin-right: 3px;
}

.ttts {
	background-color: white;
	color: black;
	border-radius: 6px;
}

.attempt-enabled {

}

.attempt-disabled {
	color: darkgrey;
}

.level-table th.incr-bell {
	border-radius: 3px 3px 15px 15px;
	border-width: 3px;
	border-color: cyan;
	border-style: outset;
	background: cyan;
	color: black;
	font-weight: bolder;
}

.level-table th.decr-bell {
	border-radius: 3px 3px 15px 15px;
	border-width: 3px;
	border-color: orange;
	border-style: outset;
	background: orange;
	color: black;
	font-weight: bolder;
}

button.toggle-on {
	color: black;
	background: cyan;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
}

button.toggle-off {
	color: white;
	background: black;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
}

.hl-identifier {
	/*color: ;*/
}

.hl-reserved {
	color: blue;
}

.hl-operator {
	color: #DC582A;
}

.hl-literal {
	color: orange;
}

.punctuation {
	color: grey;
}
