
:root {
	--olive: #9D8725ff;
	--field-drab: #5A4900ff;
	--arylide-yellow: #E7D05Cff;
	--dutch-white: #E4DCB6ff;
	--drab-dark-brown: #32290Aff;

	--gambit-unit: var(--drab-dark-brown);
	--gambit-border: var(--olive);
	--gambit-tile: var(--dutch-white);
	--gambit-background: var(--drab-dark-brown);
	--gambit-hit-0: #9D8725;
	--gambit-hit-20: #7D6705;
	--gambit-hit-40: #5D4700;
	--gambit-hit-60: #3D2700;
}

.base {
	color: var(--dutch-white);
	background: var(--drab-dark-brown);
}

.simple-border {
	color: var(--dutch-white);
	outline: none;
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

.selected-text {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

span.selectable {
	outline: none;
	box-shadow: 2px 2px var(--field-drab);
	padding: 1px;
	margin: 3px;
	font-weight: none;

	color: var(--dutch-white);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

dd {
	padding-top: 5px;
	padding-bottom: 5px;
}

span.selectable:hover {
	text-decoration: none;
	color: var(--arylide-yellow);
}

span.selected-text {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

label.simple-border:hover {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

input.simple-border:hover {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

select.simple-border:hover {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

label.simple-border:hover {
	color: var(--arylide-yellow);
	background: var(--field-drab);
	border-radius: 3px;
	border-width: 2px;
	border-color: var(--olive);
	border-style: double;
	margin: 3px;
}

.datum {
	font-weight: bold;
	color: var(--arylide-yellow);
	padding: 0px;
	margin: 0px;
}

.computed {
	font-weight: bold;
	color: var(--arylide-yellow);
	padding: 0px;
	margin: 0px;
}

.parenthesis {
	color: var(--olive);
}

.punctuation {
	color: var(--olive);
	font-weight: bold;
}

input[type=checkbox] {
	color: #DD0000;
}

hr {
	background-color: var(--olive);
	border-color: var(--olive);
	border-style: double;
}

dt {
	color: var(--arylide-yellow);
}

dd {
	color: var(--olive);
}

table {
	margin: 3px;
}

.tts {
	border-bottom: 1px dotted var(--arylide-yellow);
	margin-left: 3px;
	margin-right: 3px;
}

.ttts {
	color: var(--dutch-white);
	outline: none;
	background: var(--olive);
	border-radius: 6px;
	border-width: 2px;
	border-color: var(--arylide-yellow);
	border-style: double;
}

.attempt-enabled .tts {
	border-bottom: 1px dotted #fce114;
}

.attempt-enabled {
	color: #fce114;
}

.attempt-disabled {

}

meter::-webkit-meter-bar {
	background: #544b00;
}

meter::-webkit-meter-optimum-value {
	background: #fce114;
}

meter::-webkit-meter-suboptimum-value {
	background: #ceba08;
}

meter::-webkit-meter-even-less-good-value {
	background: #ccc166;
}

input[type="checkbox"]:checked {
	color: #222222;
}

.level-table th.incr-bell {
	border-radius: 5px 5px 15px 15px;
	border-width: 3px;
	border-color: var(--arylide-yellow);
	border-style: double;
	background: var(--arylide-yellow);
	color: var(--drab-dark-brown);
	font-weight: bolder;
}

.level-table th.decr-bell {
	border-radius: 5px 5px 15px 15px;
	border-width: 3px;
	border-color: var(--dutch-white);
	border-style: double;
	background: var(--dutch-white);
	color: var(--drab-dark-brown);
	font-weight: bolder;
}

button.toggle-on {
	background: var(--dutch-white);
	color: var(--field-drab);
	border-radius: 5px;
	border-width: 3px;
	border-color: var(--arylide-yellow);
	border-style: double;
}

button.toggle-off {
	background: var(--field-drab);
	color: var(--dutch-white);
	border-radius: 5px;
	border-width: 3px;
	border-color: var(--arylide-yellow);
	border-style: double;
}

.hl-identifier {
	color: var(--dutch-white);
}

.hl-reserved {
	color: var(--arylide-yellow);
}

.hl-operator {
	color: var(--arylide-yellow);
}

.hl-literal {
	color: var(--dutch-white);
}