
:root {
  --tan: #CEB793;
  --cadet-grey: #8FA6AC;
  --spicy-mix: #845D4C;
  --champagne: #F5EACF;
  --shadow: #85865F;
  --olive-drab-camoflague: #4F583D;

  --gambit-unit: var(--champagne);
  --gambit-border: var(--spicy-mix);
  --gambit-tile: var(--shadow);
  --gambit-background: var(--champagne);
  --gambit-hit-60: #2F464C;
  --gambit-hit-40: #4F666C;
  --gambit-hit-20: #6F868C;
  --gambit-hit-0: #8FA6AC;
}

/* This class is on the body element. */

.base {
  color: var(--tan);
  background: var(--olive-drab-camoflague);
}

/* This is on the input elements like buttons and text inputs */

.simple-border {
  color: var(--spicy-mix);
  outline: none;
  background: var(--tan);
  /*border-radius: 3px;*/
  border-width: 3px;
  border-color: var(--shadow);
  border-style: ridge;
  margin: 3px;
}

/* This can be on the input elements in tables */

.datum-border {
  outline: none;
  background: transparent;
  border-radius: 0px;
  border-width: 0px;
  border-color: transparent;
  border-style: none;

  font-weight: bold;
  color: blue;
  padding: 0px;
  margin: 0px;
}

/* This is a selected item in a list. Like your selected weapon or character. */

span.selectable {
  color: var(--spicy-mix);
  outline: none;
  background: var(--tan);
  border-width: 3px;
  border-color: var(--shadow);
  border-style: ridge;
  margin: 3px;
}

dd {
  padding-top: 5px;
  padding-bottom: 5px;
}

span.selectable:hover {
  text-decoration: none;
  color: var(--egg);
  background: var(--gold);
}

span.selected-text {
  color: var(--champagne);
  background: var(--shadow);
  border-width: 3px;
  border-color: var(--shadow);
  border-style: groove;
  margin: 3px;
}

.selected-text {
  color: var(--champagne);
  background: var(--shadow);
  border-width: 3px;
  border-color: var(--shadow);
  border-style: groove;
  margin: 3px;
}

/* These are blue edittable stat numbers in the default theme. */

.datum {
  font-weight: bold;
  color: var(--cadet-grey);
  padding: 0px;
  margin: 0px;
}

/* These are the orange not-editable numbers in the default theme. */

.computed {
  font-weight: bold;
  color: var(--champagne);
  padding: 0px;
  margin: 0px;
}

/* These are the parentheses around growth rates */

.parenthesis {
  color: var(--shadow);
}

/* These are the math operators on the lower part of the stat tables */

.punctuation {
  color: var(--shadow);
}

/* tool tip style (the element the tooltip pops up over) */

.tts {
  border-bottom: 1px dotted;
  margin-left: 3px;
  margin-right: 3px;
}

/* tool tip text style (the tooltip bit that pops up itself) */

.ttts {
  background-color: var(--shadow);
  color: white;
  border-radius: 6px;
  border-width: 3px;
  border-color: var(--olive-drab-camoflague);
  border-style: ridge;

}

/* these are the enabled rows on the level up table */

.attempt-enabled {

}

/* these are the disabled rows on the level up table */

.attempt-disabled {
  color: lightgrey;
  font-style: italic;
}

/* these are the colored titles for the level up animation */

.level-table th.incr-bell {

  /* this is the stat increase one */

  border-radius: 3px 3px 15px 15px;
  border-width: 3px;
  border-color: var(--cadet-grey);
  border-style: outset;
  background: var(--cadet-grey);
  color: white;
  font-weight: bolder;
}

.level-table th.decr-bell {

  /* this is the stat decrease one*/

  border-radius: 3px 3px 15px 15px;
  border-width: 3px;
  border-color: var(--champagne);
  border-style: outset;
  background: var(--champagne);
  color: white;
  font-weight: bolder;
}

/* these control the toggle buttons in the filters */

button.toggle-on {
  color: var(--champagne);
  background: var(--olive-drab-camoflague);
  /*border-radius: 6px;*/
  border-width: 3px;
  border-color: var(--olive-drab-camoflague);
  border-style: groove;
}

button.toggle-off {
  color: var(--spicy-mix);
  outline: none;
  background: var(--tan);
  /*border-radius: 6px;*/
  border-width: 3px;
  border-color: var(--shadow);
  border-style: ridge;
}

button.toggle-not { 
  /* in case I implement exclude filters */
  color: var(--champagne);
  outline: none;
  background: var(--cadet-grey);
  /*border-radius: 6px;*/
  border-width: 3px;
  border-color: var(--cadet-grey);
  border-style: groove;
}

/* these control calculator expression syntaxt highlighting */

.hl-identifier {
  /*color: ;*/
}

.hl-reserved {
  color: var(--cadet-grey);
}

.hl-operator {
  color: var(--spicy-mix);
}

.hl-literal {
  color: var(--champagne);
}