
/* This class is on the body element. */

.base {
	color: black;
	background: white;
}

/* This is on the input elements like buttons and text inputs */

.simple-border {
	color: black;
	outline: none;
	background: white;
	border-radius: 3px;
	border-width: 2px;
	border-color: black;
	border-style: ridge;
	margin: 3px;
}

/* This is a selected item in a list. Like your selected weapon or character. */

.selected-text {
	color: blue;
	text-decoration: underline;
}

/* These are blue edittable stat numbers in the default theme. */

.datum {
	font-weight: bold;
	color: blue;
	padding: 0px;
	margin: 0px;
}

/* These are the orange not-editable numbers in the default theme. */

.computed {
	font-weight: bold;
	color: orange;
	padding: 0px;
	margin: 0px;
}
