
:root {
	--gambit-unit: orange;
	--gambit-border: black;
	--gambit-tile: blue;
	--gambit-background: white;
	--gambit-hit-60: #CCCCCC;
	--gambit-hit-40: #888888;
	--gambit-hit-20: #555555;
	--gambit-hit-0: #222222;
}

/* This class is on the body element. */

.base {
	color: black;
	background: white;
}

/* This is on the input elements like buttons and text inputs */

.simple-border {
	color: black;
	outline: none;
	background: white;
	border-radius: 3px;
	border-width: 2px;
	border-color: black;
	border-style: ridge;
	margin: 3px;
}

/* This can be on the input elements in tables */

.datum-border {
	outline: none;
	background: transparent;
	border-radius: 0px;
	border-width: 0px;
	border-color: transparent;
	border-style: none;

	font-weight: bold;
	color: blue;
	padding: 0px;
	margin: 0px;
}

/* This is a selected item in a list. Like your selected weapon or character. */

.selected-text {
	color: blue;
	text-decoration: underline;
}

/* These are blue edittable stat numbers in the default theme. */

.datum {
	font-weight: bold;
	color: blue;
	padding: 0px;
	margin: 0px;
}

/* These are the orange not-editable numbers in the default theme. */

.computed {
	font-weight: bold;
	color: orange;
	padding: 0px;
	margin: 0px;
}

/* These are the parentheses around growth rates */

.parenthesis {

}

/* These are the math operators on the lower part of the stat tables */

.punctuation {
	color: grey;
}

/* tool tip style (the element the tooltip pops up over) */

.tts {
	border-bottom: 1px dotted;
	margin-left: 3px;
	margin-right: 3px;
}

/* tool tip text style (the tooltip bit that pops up itself) */

.ttts {
	background-color: black;
	color: white;
	border-radius: 6px;
}

/* these are the enabled rows on the level up table */

.attempt-enabled {

}

/* these are the disabled rows on the level up table */

.attempt-disabled {
	color: lightgrey;
	font-style: italic;
}

/* these are the colored titles for the level up animation */

.level-table th.incr-bell {

	/* this is the stat increase one */

	border-radius: 3px 3px 15px 15px;
	border-width: 3px;
	border-color: blue;
	border-style: outset;
	background: blue;
	color: white;
	font-weight: bolder;
}

.level-table th.decr-bell {

	/* this is the stat decrease one*/

	border-radius: 3px 3px 15px 15px;
	border-width: 3px;
	border-color: orange;
	border-style: outset;
	background: orange;
	color: white;
	font-weight: bolder;
}

/* these control the toggle buttons in the filters */

button.toggle-on {
	color: white;
	background: blue;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
}

button.toggle-off {
	color: black;
	background: white;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
}

button.toggle-not { 
	/* in case I implement exclude filters */
	color: white;
	background: orange;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
}

/* these control calculator expression syntaxt highlighting */

.hl-identifier {
	/*color: ;*/
}

.hl-reserved {
	color: blue;
}

.hl-operator {
	color: #DC582A;
}

.hl-literal {
	color: orange;
}